@model LabAspMvc.Models.Comment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discripton" class="control-label"></label>
                <input asp-for="Discripton" class="form-control" />
                <span asp-validation-for="Discripton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="filter-menu">
        <select asp-for="Rating">   
            <option value=5>5 stars</option>
            <option value=4>4 stars & above</option>
            <option value=3>3 stars & above</option>
            <option value=2>2 stars & above</option>
            <option value=1>1 star & above</option>
        </select>
    </div>
            </div>
            <div class="form-group">
              <input  asp-for="PhoneId" value="@ViewBag.PhoneId" disabled/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
